{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Add Questions {% endblock %}

{% block content %}
{% for q in question %}
<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <h6>{{q.id}}</h6>
        </div>
        <div class="col-lg-11">
            <span><strong>{{q.question.html|safe}}</strong></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            Options
        </div>
        <div class="col-lg-5">
            <span>{{q.option1.html|safe}}</span>
        </div>
        <div class="col-lg-5 5">
            <span>{{q.option2.html|safe}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            
        </div>
        <div class="col-lg-5">
            <span>{{q.option3.html|safe}}</span>
        </div>
        <div class="col-lg-5">
            <span>{{q.option4.html|safe}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            Correct Option
        </div>
        <div class="col-lg-5">
            <span> {{q.correctOpt}}</span>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-1">
            Explanation
        </div>
        <div class="col-lg-5">
            <span> {{q.explanation.html|safe}} </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            Status :
        </div>
        <div class="col-lg-11">
            {% if q.publish %}
                Published
            {% else %}
                UnPublished
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

        
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if q.publish %}
                
            {% else %}

            <a href="#" target="new">
                <button type="button" class="btn btn-success btn-sm"><i class="bi bi-check-all"></i>Verify</button>
            </a>
            <a href="{% url 'update-question' q.pk %}">
                <button type="button" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i>Edit</button>
            </a>
            {% endif %}
              <a href="{% url 'delete-question' q.pk %}">
                <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>Delete</button>
              </a>
            </div>
        </div>
    </div>
    <hr>
</div>

{% endfor %}

{% endblock %}